.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.btn-subscribe {
  display: flex;
  align-items: center;
}

.mobile-menu-nav-lists,
.mobile-menu-contacts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-menu-nav-link,
.mobile-menu-contact-link-mail,
.mobile-menu-contact-link-tel {
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
  font-style: normal;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo-header {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-header,
.logo-footer,
.logo-header-secondary,
.logo-footer-secondary {
  font-family: "Raleway", sans-serif;
  font-style: 700;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  color: #2196f3;
}

.logo-header-secondary {
  color: #212121;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.logo-footer-secondary {
  color: #ffffff;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.social-list,
.social-list-footer {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.social-list-icon,
.social-list-icon-footer {
  display: inline-flex;
  background-size: contain;
  background-position: 50% 50%;
  width: 20px;
  height: 20px;
}

.social-list-item,
.social-list-item-footer {
  width: 44px;
  height: 44px;
}
.social-list-item:not(:last-child),
.social-list-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-list-link,
.social-list-link-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: currentColor;
  color: #afb1b8;
  background-color: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover, .social-list-link:focus,
.social-list-link-footer:hover,
.social-list-link-footer:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.social-list-link-footer {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.potfolio-btns {
  padding-top: 94px;
  padding-bottom: 79px;
}

.potfolio-toolbar-lists {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.potfolio-toolbar-item:not(:last-child) {
  margin-right: 8px;
}

.potfolio-toolbar-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: 0px solid transparent;
  border-radius: 4px;
  background: #f5f4fa;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.potfolio-toolbar-btn:hover, .potfolio-toolbar-btn:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.navigation-list-item .navigation-list-link.current-link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  animation-name: scale;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform-origin: center left;
}

@keyframes scale {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.navigation-list-item {
  position: relative;
}

.current-link {
  color: #2196f3;
}

.header {
  background-color: #ffffff;
  margin-bottom: 0%;
}
.header line-header {
  border-bottom: 1px solid #ececec;
}

.logo-header {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 0;
}

.navigation-list {
  display: none;
}

.mail-icon,
.tel-icon {
  display: none;
}

.navigation-list-header {
  display: none;
}

.burger-mobile-btn,
.mobile-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.burger-mobile-btn:hover, .burger-mobile-btn:focus,
.mobile-close-btn:hover,
.mobile-close-btn:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .burger-mobile-btn,
.mobile-close-btn {
    display: none;
  }
}

.mobile-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.burger-icon,
.close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: fixed;
  background-color: #ffffff;
  max-width: 480px;
  width: 100%;
  padding: 48px 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-200%);
  z-index: 23;
  transition: transform 500ms linear;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0);
}

.mobile-menu-nav {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}
@media screen and (min-width: 320px) {
  .mobile-menu-nav {
    font-size: 32px;
    line-height: 1.166;
  }
}
@media screen and (min-width: 480px) {
  .mobile-menu-nav {
    font-size: 40px;
    line-height: 1.175;
  }
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 35px;
}

.mobile-menu-nav-link {
  color: #212121;
}
.mobile-menu-nav-link.current {
  color: #2196f3;
}

.mobile-menu-contact-link-mail,
.mobile-menu-contact-link-tel {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 320px) {
  .mobile-menu-contact-link-mail,
.mobile-menu-contact-link-tel {
    font-size: 18px;
    line-height: 1.222;
  }
}
@media screen and (min-width: 480px) {
  .mobile-menu-contact-link-mail,
.mobile-menu-contact-link-tel {
    font-size: 24px;
    line-height: 1.166;
  }
}

.mobile-menu-contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

.project-lists {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.project-list-item {
  width: 370px;
  box-sizing: border-box;
  margin: 15px;
  border: 1px solid #eeeeee;
  cursor: pointer;
  background: #ffffff;
}

.project-link {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-link:hover .overlay, .project-link:focus .overlay {
  transform: translateY(0);
  opacity: 1;
}

.project-link-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-characteristics {
  padding: 20px 24px;
}

.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.project-tools {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.project-link-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.overlay-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
}

.logo {
  display: flex;
  margin-bottom: 20px;
}

.text-address {
  margin-bottom: 9px;
}

.contact-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer {
  padding: 60px 0;
  background: #2f303a;
}

.contact-lists {
  padding-left: 0;
}

.contact-link-tel-footer,
.contact-link-mail-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link-tel-footer:hover, .contact-link-tel-footer:focus,
.contact-link-mail-footer:hover,
.contact-link-mail-footer:focus {
  color: #2196f3;
}

.text-address {
  width: 231px;
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.social-title-footer {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}

/*===== social list footer svg=====*/
.footer-contant {
  display: flex;
  align-items: baseline;
}

.social-container-footer {
  display: block;
  margin-left: 72px;
}

.social-title-footer {
  margin-bottom: 20px;
}

/*=======Subscribe form======*/
.send-form {
  margin-left: 93px;
}

.send-form .form-place {
  display: flex;
  position: relative;
}

.subscribe-input {
  padding: 15px 16px;
  margin-right: 11px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-input:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*===== subscribe btn =====*/
.btn-subscribe {
  display: flex;
  align-items: center;
}

.btn-subscribe {
  justify-content: center;
  padding: 10px 28px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-subscribe::after {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../img/icon-send.svg);
  content: "";
}
.btn-subscribe:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=portfolio.css.map */