.about-work-team {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-team-lists {
  display: flex;
}

.work-team-proffession {
  padding: 30px 32px;
}

.work-team-title {
  margin-bottom: 10px;
}

.about-work-team {
  background: $background-work-team;
}

.our-work-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.work-team-card {
  position: unset;
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: $primary-white-color;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.work-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.work-team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin-bottom: 16px;
}
