.footer {
  background-color: $footer-service-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-link-tel-footer,
.contact-link-mail-footer {
  @extend %link;
  color: $color-link-footer;
  transition-property: color;
  transition-duration: $time;
  transition-timing-function: $animation-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.contact-lists {
  @extend %list;
  display: inline-block;
}
.contact-list:not(:last-child) {
  margin-bottom: 9px;
}

.text-address {
  display: block;
  margin-bottom: 9px;
  color: $primary-white-color;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}
.footer-address {
  text-align: center;
  margin-right: 165px;
  margin-bottom: 60px;
  @media screen and(min-width: $desktop) {
    margin-bottom: 0;
    text-align: left;
  }
}
.footer-wrapper {
  @media screen and(min-width: $tablet) {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

//footer social list

.social-title-footer {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;

  @media screen and(min-width: $desktop) {
    text-align: left;
  }
}

.social-container-footer {
  @media screen and(min-width: $tablet) {
    display: block;
    margin-bottom: 102px;
  }
  @media screen and(min-width: $desktop) {
    display: block;
    margin-left: 72px;
  }
}

.social-list-footer {
  text-align: center;

  @media screen and(min-width: $desktop) {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-contant {
  @media screen and(min-width: $desktop) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

// .bg {
//   background-color: rgba(255, 255, 255, 0.1);
//   fill: $primary-white-color;
// }

// .logo {
//   display: flex;
//   margin-bottom: 20px;
// }

// .footer {
//   padding: 60px 0;
//   background: $footer-service-background-color;
// }

// .contact-lists {
//   padding-left: 0;
// }

// .text-address {
//   width: 231px;
//   display: block;
//   margin-bottom: 9px;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 14px;
//   line-height: 1.7;
//   letter-spacing: 0.03em;
//   color: $primary-white-color;
// }

// .social-title-footer {
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.03em;
//   text-align: left;
//   color: $primary-white-color;
// }

// /*===== social list footer svg=====*/
// .footer-contant {
//   display: flex;
//   align-items: baseline;
// }

// .social-container-footer {
//   display: block;
//   margin-left: 72px;
// }

// .social-title-footer {
//   margin-bottom: 20px;
// }

// /*=======Subscribe form======*/
// .send-form {
//   margin-left: 93px;
// }

// .send-form .form-place {
//   display: flex;
//   position: relative;
// }

// .subscribe-input {
//   padding: 15px 16px;
//   margin-right: 11px;
//   width: 358px;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   border-radius: 4px;

//   font-weight: normal;
//   font-size: 16px;
//   line-height: 1.25;

//   background-color: transparent;
//   color: $primary-white-color;

//   transition: box-shadow $time $animation-function;

//   &::placeholder {
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 1.25;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//   }

//   &:focus {
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   }
// }
