.header {
  background-color: $primary-white-color;
  margin-bottom: 0%;
}

.line-header {
  border-bottom: 1px solid $color-header-border;
}

.logo-header {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 0;
}

.navigation-list {
  display: none;
}

.mail-icon,
.tel-icon {
  display: none;
}

.navigation-list-header {
  display: none;
}

//Mobile-menu

.burger-mobile-btn,
.mobile-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.burger-icon,
.close-icon {
  width: 40px;
  height: 40px;
}

.close-icon {
  padding: 11px;
}

.mobile-menu {
  position: fixed;
  background-color: $primary-white-color;
  width: 100vh;
  height: 100vh;
  padding: 48px 40px;
  position: absolute;
  top: 0;
  left: 50%;
  border: 1px solid red;
  transform: translateX(-50%) translateY(-200%);
  z-index: 23;

  transition: transform 500ms linear;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0);
}

.mobile-menu-nav-lists,
.mobile-menu-contacts {
  @extend %list;
}
.mobile-menu-nav-link,
.mobile-menu-contact-link-mail,
.mobile-menu-contact-link-tel {
  @extend %link;
}

.mobile-menu-nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $title-text-color;

  @media screen and(min-width:320px) {
    font-size: 32px;
    line-height: 1.166;
  }
  @media screen and(min-width:480px) {
    font-size: 40px;
    line-height: 1.175;
  }
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 35px;
}

.mobile-menu-nav-link {
  color: $title-text-color;
  &.current-link {
    color: $accent-color;
  }
}

.mobile-menu-contact-link-mail,
.mobile-menu-contact-link-tel {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  @media screen and(min-width:320px) {
    font-size: 18px;
    line-height: 1.222;
  }
  @media screen and(min-width:480px) {
    font-size: 24px;
    line-height: 1.166;
  }

  &.tel {
    color: $accent-color;

    @media screen and (min-width: 320px) {
      font-size: 24px;
      line-height: 1.166;
    }
    @media screen and(min-width:480px) {
      font-size: 34px;
      line-height: 1.176;
    }
  }
}

.mobile-menu-contact-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-social-links {
  display: flex;
  font-weight: 500;
  margin-left: -10px;
  margin-right: -10px;
  color: $accent-color;
  letter-spacing: 0.02em;

  @media screen and(min-width:320px) {
    font-size: 12px;
    line-height: 1.333;
  }
  @media screen and(min-width:480px) {
    font-size: 18px;
    line-height: 1.222;
  }
}

.mobile-menu-social-link {
  color: $accent-color;
}

.mobile-menu-social-link__item {
  padding: 0 10px;

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

// .navigation-list {
//   display: flex;
//   align-items: center;
// }

// .navigation-list-item:not(:last-child) {
//   margin-right: 50px;
// }

// .navigation-list-header {
//   display: flex;
//   align-items: center;
//   margin-left: auto;
// }

// .navigation-list-link,
// .contact-link-mail,
// .contact-link-tel {
//   display: inline-block;
//   padding-top: 32px;
//   padding-bottom: 33px;

//   transition: color $time $animation-function,
//     background-color $time $animation-function;
// }

// /*====== icon mail & tel svg======*/

// .mail-icon,
// .tel-icon {
//   display: inline-block;
//   justify-content: center;
//   align-items: center;
//   content: "";
//   margin-right: 10px;
// }

// .contact-link-mail,
// .contact-link-tel {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-right: 50px;

//   transition: color $time $animation-function,
//     background-color $time $animation-function;
// }

// .contact-link-mail .mail-icon,
// .contact-link-tel .tel-icon {
//   fill: currentcolor;

//   transition: fill $time $animation-function,
//     background-color $time $animation-function;
// }

// //nav
// .navigation,
// .navigation-list,
// .navigation-list-header {
//   padding-left: 0;
//   padding-right: 0;
//   display: flex;
// }

// .navigation-list-link,
// .contact-link-tel,
// .contact-link-mail {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.02em;
//   color: $primary-text-color;

//   transition: color $time $animation-function,
//     background-color $time $animation-function;

//   &:hover,
//   &:focus {
//     color: $accent-color;
//   }
// }

// .navigation-list-link {
//   color: $title-text-color;
// }
