.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: opasity $time $animation-function;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-window {
  width: 528px;
  height: 581px;
  border-radius: 4px;

  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform $time $animation-function;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;

  @extend %flex-centered;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: fill $time $animation-function;
  background-color: $primary-white-color;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

/*=====Contact-form=====*/

.contact-form-title {
  display: block;
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.contact-form {
  padding: 40px;
}

.contact-form .form-group {
  position: relative;
}

.form-group {
  margin-bottom: 28px;
}

.form-input {
  position: relative;
  padding-left: 42px;
  transition: border $time $animation-function;

  &:focus ~ .form-icon {
    fill: $accent-color;
  }
}

.form-input,
.comment-place {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    outline: none;
    border: 1px solid $accent-color;
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form-label,
.comment-label {
  position: absolute;
  top: 0;
  left: 0;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;

  transform: translateY(-18px);
}

.form-comment {
  position: relative;
  margin-bottom: 20px;
}

.comment-place {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  transition: border $time $animation-function;

  &::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-checkbox {
  position: relative;
  @extend %flex-centered;
  margin-bottom: 30px;
}

.label-checkbox {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 35px;

  &::after {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 13px;
    content: "";

    width: 16px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 2px;
    transition: all $time $animation-function;

    transform: translateY(-50%);
  }
}

.input-checkbox:checked + .label-checkbox::after {
  border-color: $accent-color;
  background-color: $accent-color;
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-position: center;
  background-origin: border-box;
}

.input-checkbox:focus:not(:checked) + .label-checkbox::after {
  border-color: $accent-color;
}

.input-checkbox:checked:focus + .label-checkbox::after {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.link-agreement {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  color: $accent-color;
}

.contact-form-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55.5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  background-color: $accent-color;
  border-radius: 4px;
  cursor: pointer;
  border: 0;

  transition: box-shadow $time $animation-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
