.form-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.input-checkbox .visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.label-checkbox {
  display: flex;
  justify-content: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  align-items: center;

  &::before {
    content: "";
    display: flex;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 2px;
    margin-right: 8px;
    transition: all $time $animation-function;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
  }
}

.input-checkbox:checked + .label-checkbox::before {
  border-color: $accent-color;
  background-color: $accent-color;
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-position: center;
  background-origin: border-box;
}

.input-checkbox:checked:focus + .label-checkbox::before {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.input-checkbox:focus:not(:checked) + .label-checkbox::before {
  border-color: $accent-color;
}
