%flex-centered {
  display: flex;
  align-items: center;
}

.service-btn {
  display: inline-block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  background: $accent-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;

  @extend %flex-centered;
  text-align: center;
  letter-spacing: 0.06em;
  background: $accent-color;
  color: $primary-white-color;
  cursor: pointer;

  transition: color $time $animation-function,
    background-color $time $animation-function;

  &:hover,
  &:focus {
    background: $primary-white-color;
    color: $accent-color;
  }
}
