// цвет основного текста #757575;
// title text #212121;
// акцент #2196F3;
// цвет адреса #FFFFFF;
// background основной: #E5E5E5;
// background work team and toolbar btn: #F5F4FA; */
// background футер и сервис: #2F303A;
// цвет ссылок у футере rgba(255, 255, 255, 0.6); */

//COLORS
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$color-header-border: #ececec;
$main-background-color: #e5e5e5;
$background-work-team: #f5f4fa;
$footer-service-background-color: #2f303a;
$color-icon-our-klient: #afb1b8;
$color-link-footer: rgba(255, 255, 255, 0.6);
$color-link-icon-footer: rgba(255, 255, 255, 0.1);
$placeholder-form-send-color: rgba(255, 255, 255, 0.6);
$placeholder-form-modal-color: rgba(117, 117, 117, 0.5);
$background-backdrop-color: rgba(0, 0, 0, 0.2);
$bg-overlay-card: rgba(33, 150, 243, 0.9);
//ANIMATION
$time: 250ms;
$animation-function: cubic-bezier(0.4, 0, 0.2, 1);
//FONTS
$mainFont: "Roboto", sans-serif;
$secondFont: "Raleway", sans-serif;
$font-size-logo: 26px;
$body-font-size: 14px;
$section-title-size: 36px;
$button-font-size: 16px;

$border-radius: 4px;

//INDENT SECTION
$padding-top-section: 94px;
$padding-bottom-section: 94px;
